<html>
<head>
</head>
<body>
	
<header>
	<h1>USER LOGIN (INSECURE PASSWORD EXERCISE)</h1>
</header>

<form action="/login" method="POST">
  	<input type="email" name="email" placeholder="Your email">
	<p><input type="string" name="password" placeholder="Password"> </p>
	<p>
		<button type="submit">LogIn</button>
	</p>

</form>
</body>
</html>