<html>
<head>
</head>
<body>
	
<header>
	<h1>New Ironhack Blog Post Creation:</h1>
</header>


<form action="/new" method="POST">
  	<input type="string" name="post_name" placeholder="Post name">
	<p><input type="string" name="post_text" placeholder="Post Text"> </p>
	<p><input type="string" name="post_category" placeholder="Post Category"> </p>
	<p><input type="string" name="post_author" placeholder="Post Author name"> </p>
	<p>
		<button type="submit">Create</button>
	</p>
	<% date_creation = DateTime.now %>

</form>


</body>
</html>