<%# add navigation links to this file %>
Links will go here
<li>
	
  <!-- Home Link -->
</li>
<li>
	<%= link_to 'About', about_path %><!-- About Link -->
</li>
<li>
	<%= link_to 'Blog', blog_path %><!-- Blog link -->
</li>
<li>
<%= link_to 'Contact', contact_path %>
	<!-- Contact Link -->
</li>
