<h1>Results:</h1>

<h2>Original Text:</h2>
<p> <%= @text %></p>
<h3>Number of words: <%= @word_count %></h3>
<h3>Average Time needed to read the entire text: <%= @average_time %> minutes</h3>
<h3>Most used words: <%= @frecuency %></h3>

<a href="/">Back Home</a>