<!-- views/add.erb -->


<!DOCTYPE html>
<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>



	<h1>Add</h1>

<form action="/calculate_add" method="POST">
  <input type="number" name="first_number" placeholder="1st number"> +
  <input type="number" name="second_number" placeholder="2nd number">

  <button type="submit">Calculate</button>
</form>
</form>
<h2>User Information:</h2>

<label for="name">Your name:</label>
<input type="text" id="name">

<label for="email">Your email:</label>
<input type="email" id="email">
</body>
</html>