<html>
<head>
</head>
<body>
	
<header>
	<h1>Create a new task</h1>
</header>

<form action="/create_task" method="POST">
  	<input type="string" name="task" placeholder="Task">
	
	<p>
		<button type="submit">Create</button>
	</p>

</form>

</body>
</html>