<html>
<head>
</head>
<body>
	
<header>
	<h1>MOVIE LOVERS</h1>
</header>

<h2>Searching movies!!!</h2>

<form action="/imdb_search" method="POST">
  	<input type="string" name="search" placeholder="Search a movie">
	<p>
		<button type="submit">Search</button>
	</p>
	<% date_creation = DateTime.now %>

</form>


</body>
</html>