<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	
<header>
	<h1>My first Sinatra USER LOGIN</h1>
</header>

<form action="/user_input" method="POST">
  	<input type="string" name="myname" placeholder="Your username">
	<p><input type="string" name="password" placeholder="password"> </p>
	<p>
		<button type="submit">LogIn</button>
	</p>

</form>
</body>
</html>