<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	
<header>
	<h1>Profile Page</h1>
</header>

<p>
	<b>Username:</b>
	<%= session[:myname] %>
</p>

<% if Date.today.tuesday? %>
	<p>
		Edu Calderon is <strong>NOT</strong>
		a fan of Tuesdays like today.
	</p>
<% end %>

	<img src="/<%= session[:myname] %>.jpg" alt="<%= session[:myname] %>'s profile image">

		<p> <form action="/login">
		<button  type="submit">LogOut</button>
		</form>
	</p>
</body>
</html>