<!DOCTYPE html>
<html>
<head>
  <title>User Information</title>
</head>
<body>



	<h1>Name:</h1>
	<p>
		<%= session[:myname] %>
	</p>

		<h1>email:</h1>
	<p>
		<%= session[:email] %>
	</p>

</body>
</html>
